// @import "../../../styles/responsive.scss";
// $tablet-resize: 900px;

// .EmploymentTestsIcons-Container {
//   width: 90%;
//   padding: 10px 0;
//   margin: 0 auto;
//   align-items: center;
//   justify-content: space-around;
//   display: flex;
//   @include responsive($tablet-resize){
//   width: 80%;
//   }
//   button {
//     display: flex;
//     // flex-direction: column;
//     // gap: 3px;
//     align-items: center;
//     justify-content: center;
//     // border: 0;
//     // width: 120px;
//     // height: 120px;
//     padding: 15px;
//     border-radius: 50%;
//     background: 0;
//     font-size: 16px;
//     background-color: #fff;
//     color: #04364a;
//     font-weight: bold;
//     border: 2px solid #04364a;
//     cursor: pointer;
//     svg {
//       font-size: 20px;
//     }
//     &:hover {
//       border-color: #e55604;
//       color: #e55604;
//     }
//   }
//   // .Registering {
//   //   border: 1px solid #029a49;
//   //   color: #029a49;
//   //   &:hover {
//   //     background-color: #029a4959;
//   //   }
//   // }
//   // .InProgress {
//   //   border: 1px solid #e55604;
//   //   color: #e55604;
//   //   &:hover {
//   //     background-color: #e5560468;
//   //   }
//   // }
//   // .Active {
//   //   border: 1px solid #64ccc5;
//   //   color: #64ccc5;
//   //   &:hover {
//   //     background-color: #64ccc53c;
//   //   }
//   // }
//   // .Announcing {
//   //   border: 1px solid #04364a;
//   //   color: #04364a;
//   //   &:hover {
//   //     background-color: #04364a4c;
//   //   }
//   // }
//   // .Expired {
//   //   border: 1px solid #d3d3d3;
//   //   color: #00000076;
//   //   &:hover {
//   //     background-color: #d3d3d38f;
//   //   }
//   // }
// }

@import "../../../styles/responsive.scss";
$tablet-resize: 900px;

.EmploymentTestsIcons-Container {
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  @include responsive($mobile) {
  justify-content: space-around;
      
  }
  @include responsive($tablet-resize) {
    width: 80%;
  }

  .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 50%;
    background: #fff;
    color: #04364a;
    font-weight: bold;
    border: 2px solid #04364a;
    cursor: pointer;
    transition: all 0.3s ease;
    
    
    svg {
      font-size: 22px;
      @include responsive($mobile) {
        font-size:30px;
      }
      @include responsive($tablet) {
        font-size: 30px;
      }
    }

    &:hover {
      border-color: #e55604;
      color: #e55604;
    }
  }

  .selected {
    width: auto;
    // max-width: 50%;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .icon-text {
      font-size: 14px;
      white-space: nowrap;
    }
  }

  .icon-button:not(.selected) {
    transform: scale(0.8);
    opacity: 0.7;
  }
}
