@import "../../styles/responsive.scss";
$tablet-resize: 900px;
.homeContainer {
  width: 100%;
  position: relative;
  #ExamCardPart {
    display: flex;
    justify-content: flex-end;
    @include responsive($tablet-resize) {
      height: 70vh;
    }
  }
  #NewsComp {
    margin-top: 40px;
  }
  // .homeTooltip-IntroJs {
  //   // background-color: #04364ae8 !important;
  //   color: #4a3f04 !important;
  //   border-radius: 10px !important;
  //   // padding: 15px !important;
  //   font-size: 16px;

  //   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;

  //   &::before {
  //     border-top-color: #04364add !important;
  //   }
  //   .introjs-progressbar {
  //     background-color: #e55604 !important;
  //   }
  //   .introjs-tooltiptext {
  //     font-family: Vazirmatn !important;
  //   }
  // }

  // .homeHighlight-IntroJs {
  //   // box-shadow: 0 0 10px 3px rgba(229, 86, 4, 0.6) !important;
  //   border-radius: 8px !important;
  // }

  // .introjs-tooltipbuttons {
  //   button {
  //     font-size: 14px !important;
  //     padding: 8px 12px !important;
  //     border-radius: 6px !important;
  //   }

  //   .introjs-button {
  //     // color: #fff !important;
  //     border: 0 !important;
  //     font-family: Vazirmatn !important;

  //     transition: background-color 0.3s;

  //     &:hover {
  //       // background-color: #c74403 !important;
  //     }
  //   }

  //   .introjs-prevbutton {
  //     // background-color: #255162 !important;
  //   }

  //   .introjs-skipbutton {
  //     // background-color: #aaa !important;
  //   }
  // }
}
