@import "../../../../styles/responsive.scss";
$tablet-resize: 900px;

.ResultExam-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  @include responsive($tablet) {
    width: 80%;
  }
  .ResultExam-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px 12px;
    // border-radius: 8px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
    &:nth-last-child(1) {
      border: 0;
      border-radius: 0 0 10px 10px;
    }
    .ResultExam-name {
      font-weight: bold;
      width: 30%;
      color: #333;
      @include responsive($tablet) {
        width: 40%;
      }
    }

    .ResultExam-date {
      width: 5%;
      color: #666;
      font-size: 14px;
    }
    .ResultExam-jobLoc {
      color: #666;
      width: 20%;
      font-size: 14px;
    }

    .ResultExam-more {
      background-color: #04364a;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.2s;
      @include responsive($tablet) {
        width: 10%;
      }
      &:hover {
        background-color: #255162;
      }
      button {
        background: 0;
        width: 100%;
        padding: 10px 20px;
        font-size: 14px;
        border: 0;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
