.EmploymentTests {
  width: 100%;
  .EmploymentTestsIcons {
    // margin-top: 100px;
    width: 99.5%;
    margin: 0 auto;
    background-color: #a1c0b7;
    border-radius: 50px;
  }
  .EmploymentTestsComp {
  }
}
