.Entry-list {
  width: 90%;
  max-height: 85vh;
  margin: 30px auto 0;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  .Entry-selection {
    display: flex;
    align-items: center;
  }
  .exam-card-button {
    background: 0;
    border: 0;
    cursor: pointer;
    &:hover {
      color: #e55604;
    }
  }
}
