.Entry-list{
    width: 90%;
    max-height: 85vh;
    margin: 30px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .Entry-selection{
        display: flex;
        align-items: center;
    }
}