@font-face {
  font-family: "Vazirmatn";
  src: url("/public/assets/fonts/Vazirmatn-Black.woff2") format("woff2"),
    url("/public/assets/fonts/Vazirmatn-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
 @font-face {
  font-family: "Vazirmatn";
  src: url("/public/assets/fonts/Vazirmatn-Bold.woff2") format("woff2"),
    url("/public/assets/fonts/Vazirmatn-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("/public/assets/fonts/Vazirmatn-Thin.woff2") format("woff2"),
    url("/public/assets/fonts/Vazirmatn-Thin.ttf") format("truetype");
  font-weight: thin;
  font-style: thin;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("/public/assets/fonts/Vazirmatn-Light.woff2") format("woff2"),
    url("/public/assets/fonts/Vazirmatn-Light.ttf") format("truetype");
  font-weight: Light;
  font-style: Light;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("/public/assets/fonts/Vazirmatn-Medium.woff2") format("woff2"),
    url("/public/assets/fonts/Vazirmatn-Medium.ttf") format("truetype");
  font-weight: Medium;
  font-style: Medium;
} 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazirmatn;
}

.homeTooltip-IntroJs {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: #fff !important;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px;
}

.homeHighlight-IntroJs {
  box-shadow: 0px 0px 15px 3px rgba(255, 165, 0, 0.8) !important;
  border-radius: 5px;
}